.list-item {
  display: flex;
  justify-content: space-between;
}

.list-item-delete-button {
  float: right;
  border: none;
  background-color: transparent;
  color: var(--color-light-gray);
}

.list-item-delete-button-icon {
  width: 1.2em;
}
