.weather-container {
  display: flex;
}

.weather-right-part {
  padding-right: 2em;
}

.weather-temperature {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.weather-description {
  margin-bottom: 0.4em;
  color: var(--color-gray-4);
}

.weather-location {
  margin-top: 0em;
  color: var(--color-gray-3);
}
