@import "../Card/styles.css";
@import "../Clock/styles.css";
@import "../Heading/styles.css";
@import "../Weather/styles.css";
@import "../WeatherIcon/styles.css";
@import "../InputField/styles.css";
@import "../DailyBest/styles.css";
@import "../DailyWorst/styles.css";
@import "../DailyActions/styles.css";
@import "../DailyInfo/styles.css";
@import "../SickLeave/styles.css";
@import "../StatsOne/styles.css";

.grid {
  display: flex;
  gap: 2em;
}

.grid-column {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 24%;
}
