.card {
  padding: 1.2em 1.2em;
  background-color: #fff;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
  /* display: inline-block;
  vertical-align: top;
  margin: 1em; */
}
