.clock-time {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.2em;
  margin-top: 0;
  padding: 0;
  color: var(--color-gray-5);
}

.clock-date {
  margin-top: 0.4em;
  margin-bottom: 0;
  color: var(--color-gray-3);
}
